<template>
  <v-form @submit.prevent="getCode" class="mt-5">
    <v-container>
      <v-row justify="center">
        <v-col
          cols="12"
          md="4"
          lg="2"
        >
          <v-text-field
            v-model="from"
            label="Откуда"
            required
            outlined
            :disabled="loading"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
          lg="2"
        >
          <v-text-field
            v-model="to"
            label="Куда"
            required
            outlined
            :disabled="loading"
          />
        </v-col>
        <v-col
          cols="12"
          md="3"
          lg="2"
        >
          <v-row justify="center">
            <v-btn
              text
              icon
              color="green"
              class="ma-3"
              type="submit"
              :disabled="loading"
            >
              <v-icon>arrow_right_alt</v-icon>
            </v-btn>
            <v-btn
              text
              icon
              color="red"
              class="ma-3"
              :disabled="loading"
              @click="clearForm"
            >
              <v-icon>clear</v-icon>
            </v-btn>
            <v-btn
              text
              icon
              color="primary"
              class="ma-3"
              :disabled="loading"
              @click="createNewForm"
            >
              <v-icon>add</v-icon>
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    from: "",
    loading: false,
    to: ""
  }),
  methods: {
    async getCode() {
      const { from, to } = this;
      this.loading = true;
      await this.$store.dispatch("GET_DISTANCE", { from, to });
      this.loading = false;
    },
    clearForm() {
      this.from = "";
      this.to = "";
    },
    createNewForm() {
      this.$emit('create-form')
    }
  }
};
</script>
