<template>
  <v-container>
    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        md="12"
        lg="8"
      >
        <v-simple-table>
          <thead>
            <tr>
              <th class="text-left">
                №
              </th>
              <th class="text-left">
                Дата
              </th>
              <th class="text-left">
                Направление
              </th>
              <th class="text-left">
                Расстояние
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item in responses"
              :key="item.idRecord"
            >
              <td>{{ item.idRecord }}</td>
              <td>{{ item.time }}</td>
              <td>{{ item.direction }}</td>
              <td>{{ item.distance }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

  <script>
    import { mapState } from 'vuex';
    export default {
      data() {
        return {
          desserts: []
        }
      },
      computed: {
        ...mapState(["responses"])
      }
    }
  </script>


<style scoped>

</style>
