<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Distance 1.0</span>
      </v-toolbar-title>
      <v-spacer />
      <span class="mr-2">Расстояние между городами</span>
    </v-app-bar>

    <v-content>
      <Distance
        v-for="item in countForms"
        :key="item"
        @create-form="newForm"
      />
      <History />
    </v-content>
  </v-app>
</template>

<script>
import Distance from './components/Distance';
import History from './components/History';

export default {
  name: 'App',
  components: {
    Distance,
    History
  },
  data: () => ({
    countForms: 1
  }),
  methods: {
    newForm() {
      const {countForms} = this;
      if(countForms < 10) {
        this.countForms ++
      }
    }
  }
};
</script>
